.App {
  background-image: url("https://cdn.shopify.com/s/files/1/2100/2891/products/1561_pet_store_1200.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
body {
  margin: 0;
}
.Home {
  max-width: 1300px;
  min-height: 70vh;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 30px;
}
